<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>@ViewBag.Title</title>
  @RenderSection("headerScripts", false)
</head>
<body>
  <nav>
    @Html.ActionLink("Recipes", "Index", "Recipe")
  </nav>
  @RenderBody()
</body>
</html>
