@model GroceryList.Models.RecipeListModel

@{
  ViewBag.Title = "Recipes";
}

@section headerScripts {
  <script src="~/Scripts/jquery-3.4.0.min.js"></script>
}

<script>
  function validate(){
    var isValid = $("input:checked").length > 0;
    if (!isValid){
      $('#validationMessage').html('You must select at least one recipe');
    }
    return isValid;
  }
</script>

<h2>@ViewBag.Title: (@Html.ActionLink("Create New", "Create", "Recipe"))</h2>

@using ( Html.BeginForm("List", "Recipe", FormMethod.Post, null) )
{
  <table>
    <thead>
      <tr>
        <th>
          Selected
        </th>
        <th>
          Name
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var recipe in Model.Recipes)
      {
        <tr>
          <td>
            <input type="checkbox" name="SelectedRecipes" value="@recipe.Value">
          </td>
          <td>
            @Html.ActionLink(
              recipe.Value,
              "Show",
              "Recipe",
              new { name = recipe.Value },
              null
            )
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div id="validationMessage"></div>
  <button type="submit" onclick="return validate();">Generate Grocery List</button>
}
