@model GroceryList.Models.RecipeListModel

@{
  ViewBag.Title = "Recipes";
}

<h2>@ViewBag.Title: (@Html.ActionLink("Create New", "Create", "Recipe"))</h2>

@using ( Html.BeginForm("ShoppingList", "Recipe", FormMethod.Post, null) )
{
  <table>
    <thead>
      <tr>
        <th>
          Selected
        </th>
        <th>
          Name
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var recipe in Model.Recipes)
      {
        <tr>
          <td>
            <input type="checkbox" name="SelectedRecipes" value="@recipe.Value">
          </td>
          <td>
            @Html.ActionLink(
              recipe.Value,
              "Show",
              "Recipe",
              new { name = recipe.Value },
              null
            )
          </td>
        </tr>
      }
    </tbody>
  </table>
  <button type="submit">Generate Shopping List</button>
}
