@model GroceryList.Models.IngredientModel
<tr class="ingredient">
  <td>
    @Html.TextBoxFor(ingredient => ingredient.Name)
  </td>
  <td>
    @Html.TextBoxFor(ingredient => ingredient.Amount)
  </td>
  <td>
    @Html.EnumDropDownListFor(
      ingredient => ingredient.Unit,
      "Select Unit"
    )
  </td>
  <td>
    <button class="remove" type="button" onclick="removeFormEntry(this, 'ingredient')">Remove Ingredient</button>
  </td>
</tr>
